canvas {
    border: 8px solid black; /* Pour voir les limites du canvas */
    background-color: #f0f0f0; /* Couleur de fond pour le terrain */
    display: block; /* Pour éviter les problèmes de bordure */
    margin: 0 auto; /* Centrer le canvas horizontalement */
  }
body {
    background-color: rgb(211, 18, 18);
}

.score {
    right: 44%;
    top: 750px;
    font-size: 46px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;

}

main {
    display: flex;
    justify-content: space-between;
}

.game-over {
    display: none;
    width: 45%;
    margin-left: 30%;
    margin-top: 100px;

}

.border-1 {
    height: 98%;
    position: absolute;
    width: 10%;
}

.border-2 {
    height: 98vh;
    position: absolute;
    right: 0;
    width: 10%;
}

.sumo {
    border: 10px solid black;
    margin-top: 40px;
}